.MuiInputBase-root .MuiInputBase-input {
  text-align: right;
  font-size: 0.75rem;
}

.MuiInputBase-root .MuiInputAdornment-positionEnd {
  margin-left: 0;
}

.MuiInputAdornment-root .MuiTypography-body1 {
  font-size: 0.75rem;
}
